<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css">
</head>
<body>
    <div class="container">
        <div class="col">
            <iframe src="{{fileurl}}" frameborder="0"></iframe>
        </div>
        <div class="row">
            <a href="/student/{{title}}?page={{math pages '-' 1}}">Prev</a>
            <a href="/student/{{title}}?page={{math pages '+' 1}}">Next</a>
        </div>
    </div>
</body>
</html>