<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{status}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h3>{{message}}</h3>
                {{#if cond}}
                    {{#each tests}}
                    <div>
                        <a href="/student/{{this.title}}">{{this.title}}</a>
                    </div>
                    {{/each}}
                {{else}}
                    {{#each tests}}
                    <div>
                        <a href="/faculty/{{this.title}}/view">{{this.title}}</a>
                    </div>
                    {{/each}}
                {{/if}}
                
            </div>
        </div>
    </div>
</body>
</html>